<div id="p5_loading">
    <div class="spinner"></div>
    <h1>loading</h1>
</div>
<div id="overlay-button">
</div>
<div id="overlay">
    <div id="overlay-close-button"></div>
    <div id="content">
        <h1>There are about 1.4 million earthquakes every year</h1>
        <p>Fortunately, the vast majority of them occur in uninhabited areas or deep in the Earth’s crust. Earth sounds is a visualisation of all earthquakes over the previous day with sound. The events are shown in the order they happened during the day, using the daily data feed from the US Geological Service which is updated every five minutes.</p>
        <h4>Thanks & Credits</h4>
        <p>Tobias Ahlin for Spinkit</p>
        <p>Healing ambient sound from DL-Sounds</p>
        <h5>Made with <span class="heart">❤</span> by Ramkumar Shankar</h5>
    </div>
</div>