<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/vendor/moment.min.js"></script>
    <script src="/javascripts/vendor/p5.min.js"></script>
    <script src="/javascripts/vendor/p5.sound.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
